
<aside>

  <div class="user-img">
      <img src="./images/img1.jpg" alt="" srcset="">
      
      
  </div>

  <nav class="nav-lateral">
      <ul>

          <li><a href="/edit-profile" ><i class="fas fa-user-edit" id="id-fa-user-edit"></i> Editar perfil</a></li>
          <li><a href="/profile"><i class="fas fa-paw"></i>Meu perfil</a></li>
          <li><a href="/usuarios"><i class="fas fa-comments"></i>Meus amigos</a></li>

      </ul>
  </nav>
  
  <script>src= "/javascripts/scriptprofile.js" </script>
</aside>