<aside>

  <div class="user-img">
      <img src="<%= my_perfil.img_user %>" alt="" srcset="">
  </div>

  <nav class="nav-lateral">
      <ul>
        
          <li><a href="/perfil"><i class="fas fa-user-edit"></i>Perfil</a></li>
          <li><a href="/user-profile"><i class="fas fa-paw"></i>Meu perfil</a></li>
          <li><a href="#"><i class="fas fa-comments"></i>Meus amigos</a></li>

      </ul>
  </nav>

</aside>