<aside>

  <div class="user-img">
      <img src="./images/img1.jpg" alt="" srcset="">
  </div>

  <nav class="nav-lateral">
      <ul>
          <li><a href="/editarPerfil" ><i class="fas fa-user-edit"></i> Editar perfil</a></li>
          <li><a href="#"><i class="fas fa-paw"></i>Meu perfil</a></li>
          <li><a href="#"><i class="fas fa-comments"></i>Meus amigos</a></li>
      </ul>
  </nav>

</aside>