    <script src="/javascripts/script.js"></script>
    <footer class="footer-content">
        <div class="copyright">
            <p>Desenvolvido por Camila, Gabriela, Marcelo e Alexandre.</p>
        </div>
        <nav class="footer-menu-nav">
            <ul class="footer-menu">
                <li>Ajude</li>
                <li>FAQ</li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>

    </footer>
</body>

</html>
