<body>

    <header id="pag-interna">
        <div class="header-logo">
            <img src="./images/logo-white 1.png" alt="logo-connect pet" class="header-logo--img">
        </div>
        <nav>
            <ul>
                <li><a href="#"> <i class="fas fa-home"></i></a></li>
                <li><a href="#"> <i class="fas fa-search-plus"></i>Buscar Amigos</a></li>
                <li><a href="#"><i class="fas fa-sign-out-alt"></i>Sair</a></li>
            </ul>
        </nav>
    </header>

    <div class="principal">