<form action="/login" method="POST" class="modal-login-form">

    <div class="input-itens">
        <div class="input-group">
            <label for="email_login">Email</label>
            <input type="email" name="email_login" id="email_login" placeholder="Email">
        </div>

        <div class="input-group">
            <label for="senha_login">Senha</label>
            <input type="password" name="senha_login" id="senha_login" placeholder="Senha">
        </div>
    </div>

    <button type="submit" class="btn btn-blue btn-modal-login">Entrar</button> 

</form>
