<form action="/login" method="POST" class="modal-login-form">
    <div class="input-itens">
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="input-group">
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" placeholder="Senha">
        </div>
</div>
    <!--<input type="button" value="Entrar" class="btn btn-blue btn-modal-login">-->
    <button type="submit" class="btn btn-blue btn-modal-login">Entrar</button>
</form>