<form action="/registrar" method="POST" id="modal-subscribe-form">

    <div class="input-itens">

        <div class="input-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" placeholder="Nome">
        </div>

        <div class="input-group">
            <label for="nome_usuario">Nome de usuário</label>
            <input type="text" name="nome_usuario" id="nome_usuario" placeholder="Nome de usuário">
        </div>


        <div class="input-group">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>

        <div class="input-group">
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" placeholder="Senha">
        </div>

        <div class="input-group">
            <label for="senhaconfirm">Confirmar Senha</label>
            <input type="password" name="senhaconfirm" id="senhaconfirm" placeholder=" Confirmar Senha">
        </div>
        <button type="submit" class="btn btn-blue btn-modal-cadastro">Confirmar e Enviar</button>



    </div>
</form>