<%- include('../views/partials/head'); %>
<%- include('../views/partials/header'); %>
<%- include('../views/partials/aside'); %>
    <main id="main">   <!--COLOCAR UM ID DA PAGINA-->

        <!--AQUI VAI O CÓDIGO DE CADA PÁGINA-->

    </main>

</div>


</body>
</html>