<%- include('../views/partials/head'); %>
<body>
    <header id="pag-interna">
        <div class="header-logo">
            <img src="./images/logo-white 1.png" alt="logo-connect pet" class="header-logo--img">
        </div>
        <nav>
            <ul>
                <li><a href="/"><i class="fas "></i>Login</a></li>
            </ul>
        </nav>
    </header>

    <main id="listar-usuarios">   <!--COLOCAR UM ID DA PAGINA-->
        <div class="principal">

        <div class="lista-usuarios-itens">

            <h1>Quem somos</h1>

            <div class="lista-usuarios-item">

                <img src="./images/CamilaCostaMuzzi.jfif" alt="imagem do usu치rio">
                <a href="https://github.com/CamilaCostaMuzzi" class="usuario-nome">@CamilaCostaMuzzi</a>

            </div>
            
            <div class="lista-usuarios-item">

                <img src="./images/gabrieladaltoe.jfif" alt="imagem do usu치rio">
                <a href="https://github.com/gabrieladaltoe" class="usuario-nome">@gabrieladaltoe</a>
                
            </div>

            <div class="lista-usuarios-item">

                <img src="./images/AlvesBelem.jfif" alt="imagem do usu치rio">
                <a href="https://github.com/AlvesBelem" class="usuario-nome">@AlvesBelem</a>
                
            </div>

            <div class="lista-usuarios-item">

                <img src="./images/aprom3u.jfif" alt="imagem do usu치rio">
                <a href="https://github.com/APROM3U" class="usuario-nome">@aprom3u</a>
                
            </div>

        </div>
        </div>
    </main>

</div>
</body>
</html>