<%- include('../views/partials/head'); %>
<body>
    <main id="login-page">
        <section class="left-side">
            <img src="./images/img-bg-login.jpg" alt="imagem com animais" class="image-login">
        </section>

        <section class="right-side">
            <div class="login-content">
                <p>Aqui o mundo é mais divertido.</p>
                <img src="./images/logo500.png" alt="logo ConnectPet" class="pet-logo">
            </div>

            <div class="login-btns">
                <button class="btn btn-orange" onclick="ModalLogin.open()">Entrar</button>
                <button class="btn btn-blue" onclick="ModalSubscribe.open()">Inscrever-se</button>
                <a href="#">Esqueci minha senha</a>
            </div>
        </section>
    </main>

    <footer class="footer-content">
        <div class="copyright">
            <p>Desenvolvido por Camila, Gabriela e Marcelo.</p>
        </div>
        <nav class="footer-menu-nav">
            <ul class="footer-menu">
                <li>Ajude</li>
                <li>FAQ</li>
                <li>Contato</li>
            </ul>
        </nav>

    </footer>

    <div id="modal-login" class="md-login">

        <div class="modal-content">
            <button class="close-modal" onclick="ModalLogin.close()">
                <i class="fas fa-times"></i>
            </button>
            <h2 class="modal-title">
                Entrar na sua conta Connect Pet
            </h2>

            <form action="" id="modal-login-form" action="/login" method="POST">


                <div class="input-group">
                    <label for="input-email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email">
                </div>

                <div class="input-group">
                    <label for="input-senha">Senha</label>
                    <input type="password" name="senha" id="senha" placeholder="Senha">
                </div>

                <input type="submit" value="Entrar" class="btn btn-blue">


            </form>

        </div>

    </div>


    <div class="md-subscribe" id="modal-subscribe">

       <div class="modal-content">

        <button class="close-modal" onclick="ModalSubscribe.close()">
            <i class="fas fa-times"></i>
        </button>
        <h2 class="modal-title">
            Crie sua conta
        </h2>

        <form action="" id="modal-subscribe-form">

            <div class="input-group">
                <label for="input-nome">Nome</label>
                <input type="text" name="input-nome" id="input-nome" placeholder="Nome">
            </div>

            <div class="input-group">
                <label for="input-user">Nome de usuário</label>
                <input type="text" name="input-user" id="input-user" placeholder="Nome de usuário">
            </div>


            <div class="input-group">
                <label for="input-email">E-mail</label>
                <input type="email" name="input-email" id="input-email" placeholder="Email">
            </div>

            <div class="input-group">
                <label for="input-senha">Senha</label>
                <input type="password" name="input-senha" id="input-senha" placeholder="Senha">
            </div>

            <div class="input-group">
                <label for="input-senha-confirm">Confirmar Senha</label>
                <input type="password" name="input-senha-confirm" id="input-senha-confirm" placeholder=" Confirmar Senha">
            </div>

            <input type="button" value="Confirmar e Enviar" class="btn btn-blue">


        </form>



       </div>

    </div>

    <script src="./javascripts/script.js"></script>

</body>

</html>