<%- include('../views/partials/head'); %>
<%- include('../views/partials/header'); %>
<%- include('../views/partials/aside'); %>
    <main id="listar-usuarios">   <!--COLOCAR UM ID DA PAGINA-->

        <div class="lista-usuarios-itens">

            <div class="lista-usuarios-item">

                <img src="./images/img1.jpg" alt="imagem do usu치rio">
                <a href="#" class="usuario-nome">@nomeUsuario</a>
                <button class="btn btn-blue btn-seguir">
                    <i class="fas fa-plus"></i>    
                    Seguir
                </button>

            </div>



            <div class="lista-usuarios-item">

                <img src="./images/img1.jpg" alt="imagem do usu치rio">
                <a href="#" class="usuario-nome">@nomeUsuario</a>
                <button class="btn btn-blue btn-seguir">
                    <i class="fas fa-plus"></i>    
                    Seguir
                </button>

            </div>




            <div class="lista-usuarios-item">

                <img src="./images/img1.jpg" alt="imagem do usu치rio">
                <a href="#" class="usuario-nome">@nomeUsuario</a>
                <button class="btn btn-blue btn-seguir">
                    <i class="fas fa-plus"></i>    
                    Seguir
                </button>

            </div>



            <div class="lista-usuarios-item">

                <img src="./images/img1.jpg" alt="imagem do usu치rio">
                <a href="#" class="usuario-nome">@nomeUsuario</a>
                <button class="btn btn-blue btn-seguir">
                    <i class="fas fa-plus"></i>    
                    Seguir
                </button>

            </div>


        </div>


    </main>

</div>


</body>
</html>