<%- include('../views/partials/head'); %>
    <%- include('../views/partials/header'); %>
        <%- include('../views/partials/aside'); %>
            <main id="listar-usuarios">
                <!--COLOCAR UM ID DA PAGINA-->

                <div class="lista-usuarios-itens">

                    <div class="search-users-form">
                        <form action="/usuarios" method="GET">
                            <div class="input-group buscar-input-group">
                                <label for="buscar-user">Label</label>
                                <input class="buscar-input-field" type="text" name="buscar-user" id="input-texto"
                                    placeholder="Buscar usuário">
                            </div>
                            <button type="submit" class="btn btn-orange">Buscar</button>
                        </form>
                    </div>

                    <div class="lista-usuarios-item">

                        <img src="./images/img1.jpg" alt="imagem do usuário">
                        <a href="#" class="usuario-nome">@nomeUsuario</a>
                        <button class="btn btn-blue btn-seguir">
                            <i class="fas fa-plus"></i>
                            Seguir
                        </button>

                    </div>



                    <div class="lista-usuarios-item">

                        <img src="./images/img1.jpg" alt="imagem do usuário">
                        <a href="#" class="usuario-nome">@nomeUsuario</a>
                        <button class="btn btn-blue btn-seguir">
                            <i class="fas fa-plus"></i>
                            Seguir
                        </button>

                    </div>




                    <div class="lista-usuarios-item">

                        <img src="./images/img1.jpg" alt="imagem do usuário">
                        <a href="#" class="usuario-nome">@nomeUsuario</a>
                        <button class="btn btn-blue btn-seguir">
                            <i class="fas fa-plus"></i>
                            Seguir
                        </button>

                    </div>



                    <div class="lista-usuarios-item">

                        <img src="./images/img1.jpg" alt="imagem do usuário">
                        <a href="#" class="usuario-nome">@nomeUsuario</a>
                        <button class="btn btn-blue btn-seguir">
                            <i class="fas fa-plus"></i>
                            Seguir
                        </button>

                    </div>


                </div>


            </main>

            </div>


            </body>

            </html>