<%- include('../views/partials/head'); %>
<%- include('../views/partials/header'); %>
<%- include('../views/partials/aside'); %>

        <main id="edit-profile">   <!--COLOCAR UM ID DA PAGINA-->
            <div class="editar-perfil">
                <form action="/registrarPerfil" method="POST">
                    <div class="edit-photo--wrap">
                        <div class="col-25-img">
                            <div class="img-user">
                                <img src="./images/img3.jpg" alt="imagem-usuario">
                            </div>
                        </div>
                        <div class="edit-photo--text-items">                            
                            <a href="#" class="link">Adicionar nova foto de perfil</a><br>
                            <a href="#" class="link">Remover foto de perfil</a>
                            <div class="card-body">
                                <p>Arquivo em jpg ou png, com no mínimo 200px200px</p>
                            </div>
                        </div>
                    </div>                

                    <div class=" row">
                        <div class="col-25">
                            <label for="input-nome">Nome</label>
                        </div>
                        <div class="col-75">
                            <input type="nome" name="input-nome" id="input-nome" disabled >
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-25">
                            <label for="biografia">Biografia</label>
                        </div>
                        <div class="col-75">
                            <textarea id="biografia" name="biografia" disabled></textarea>
                        </div>
                    </div>               
                    
                    
                    <div class="row">
                        <div class="col-25">
                            <label for="localizacao">Localização</label>
                        </div>
                        <div class="col-75">
                            <input type="localizacao" id="localizacao" name="localizacao" disabled>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-25">
                            <label for="website">WebSite</label>
                        </div>
                        <div class="col-75">
                            <input type="website" id="website" name="website" disabled>
                        </div>
                    </div>              
                    
                    <div class="btn_profile">
                        <button class="btn btn-blue">Salvar</button>
                        <button type="button" class="btn btn-outline-orange" id="btnAlterar" onclick="alterar()">Alterar</button>
                        <button class="btn btn-outline-orange">Apagar</button>
                    </div>
                    
                </form>
              </div>
        </main>

    </div>

    <script>
        // habilita os campos para editar o perfil
        function alterar(){
            
            let input_nome = document.getElementById('input-nome')
            let localizacao = document.getElementById('localizacao')
            let biografia = document.getElementById('biografia')
            let website = document.getElementById('website')

            input_nome.disabled = false
            localizacao.disabled = false
            biografia.disabled = false
            website.disabled = false
            
        }
    </script>
</body>

</html>