/*section bio*/
#user-profile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.user-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.user-bio {
  margin-left: 10px;
}

.user-bio-name {
  font-weight: bold;
  color: rgb(53, 53, 53);
  margin-bottom: 5px;
}

.user-bio-name span {
  font-weight: 400;
}

.user-bio-text {
  font-size: 0.9rem;
  color: rgb(66, 66, 66);
}

.user-bio-location {
  color: gray;
  font-size: 0.8rem;
  margin-top: 15px;
}

.user-bio-location i {
  margin-right: 10px;
}

.btn-seguir--user-profile {
  display: flex;
  justify-content: flex-end;
}

/*section post*/

.container {
  margin: 50px;
  padding: 20px;
}

.card-feed {
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-postagem {
  width: 43rem;
  height: 25rem;
  background: white;
  border-radius: 08px;
  padding: 0.8rem;
  justify-content: center;
}

.card-postagem-titulo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
}

#post-edit-icon {
  margin-right: 5px;
  color: hsla(202, 98%, 48%, 1);
  font-size: 24px;
}

textarea {
  width: 100%;

}

.form-post-group-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
}

.form-post-group-btn .btn-post {
  justify-self: flex-end;
}

/*section feed*/


.card-feed {
  margin-top: 20px;
  position: static;
}

.card-feed-header .img-user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.card-feed--header-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 5px;
}

.card-feed--header-text a {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(61, 61, 61);
  margin-bottom: 20px;
}

.card-feed--header-text p {
  color: rgb(61, 61, 61);
}

.card-feed-header {
  width: 43rem;
  height: auto;
  background: transparent;
  border-radius: 08px;
  padding: 0.8rem;
  justify-content: center;
}

.img-user img {
  width: 150px;
  height: 150px;
  /* margin: 25px; */
}

.image-feed img {
  max-width: 39.35rem;
  max-height: 32.21rem;
  width: auto;
  height: auto;
  position: static;
  top: 150px;
  left: 25px;
  margin: auto;
}

.heart-feed-button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.feed-comentarios {
  display: flex;
  position: static;
  /* bottom: 130px; */
  /* left: 25px; */
  width: 100%;
  margin: 10px 30px;
  justify-self: flex-start;
  align-self: flex-start;
}

.feed-comentarios i {
  color: hsla(26, 98%, 48%, 1);
  width: 36px;
  height: 41px;
  font-size: 36px;
  cursor: pointer;
}

.feed-comentarios .likes {
  font-size: 24px;
  margin-left: 10px;
}

.feed-comentarios .comentarios {
  font-size: 24px;
  margin-left: 10px;
}


@media screen and (max-width: 500px) {
  .container-user-profile{
    width: 100vw;
  }
  .user-data {
    margin-top: 100px;
    margin-bottom: 0;
    width: 100vw;
    padding: 0 10px;
  }

  .img-user img {
    /* width: 100px;
    height: 100px;
    margin: 20px 0;
    object-fit: cover; */
}

  .btn-seguir--user-profile {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    padding: 0 20px;
    margin: 0;
}

.card-feed {
  margin-top: 20px;
  position: static;
  width: 100vw;
}

.card-feed-header {
  width: 43rem;
  height: auto;
  background: transparent;
  border-radius: 08px;
  padding: .8rem;
  justify-content: center;
  width: 100vw;
}

.card-feed-header .img-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100vw;
  position: static;
}

.image-feed img {
  /* max-width: 39.35rem; */
  /* max-height: 32.21rem; */
  width: auto;
  height: auto;
  position: static;
  /* top: 150px; */
  /* left: 25px; */
  margin: auto;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.feed-comentarios {
  display: flex;
  position: static;
  /* bottom: 130px; */
  /* left: 25px; */
  width: 100vw;
  margin: 0;
  justify-self: flex-start;
  align-self: flex-start;
  padding: 1px 15px;
}

.heart-feed-button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.feed-comentarios .likes {
  font-size: 18px;
  margin-left: 10px;
}

.feed-comentarios .comentarios {
  font-size: 17px;
  margin-left: 10px;
}

.card-feed--header-text{
  width: 50%;
}
}

