/*---------Estilos Globais ------------*/
:root{
    --orange: #F35902;
    --light-orange: #F3B002;
    --blue: #0263F3;
    --light-blue: #029CF3;
    --degrade-blue: linear-gradient(90.51deg, #0263F3 -4.24%, #029CF3 97.54%);
    --degrade-orange: linear-gradient(273.7deg, #F3B002 6.8%, #F36C02 105.86%, #F35902 105.87%);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 65,5%;/*a fonte padrão de 16px vira 10px*/
    font-family: 'Roboto Slab', serif;
}

body, button,input,textarea {
    font-family: 'Roboto Slab', serif;
   /* font-size: clamp(14px, 1.6rem, 2vw);*/
}

/*---------Estilos Botões------------*/


/*--------Main---------*/

#login-page{
    display: flex;
    width: 100%;
}

.left-side,
.right-side{
    width: 50vw;
    height: 100vh;
}

.right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.pet-logo{
    width: 50%;
    height: auto;
}

.login-content{
    width: min(90vw, 500px);
    margin-left: 2.4rem;
    /*essa função procura o tamanho menor entre os dois valores*/
    margin-bottom: 3rem;
}

.login-content p{
    color: var(--light-blue);   
    font-size: 1.2rem;
    line-height: 1.6rem; 
    
}

.login-btns{
    width: min(90vw, 500px);
    margin-left: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 50%;
    
}

.login-btns a{
    text-decoration: none;
    color:var(--light-blue);
    cursor: pointer;
}

.btn{
    padding: 0.8rem;
    border-radius: 25px;
    width: 100%;
    border: none;
    margin: .4rem 0;
    color: #fff;
    font-size: 1.4rem;
}

.btn-orange{
    background: var(--degrade-orange);
    cursor: pointer;
}

.btn-blue{
    background: var(--degrade-blue);
    cursor: pointer;
}

.image-login{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


/*-------footer---------*/

footer{
    background: var(--degrade-blue);
    height: 124px;
    width: 100%;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: #fff;
}

.footer-menu-nav,
.copyright{
    width: 50%;
}

.footer-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-menu li{
    list-style: none;
}